.nav-bar {
  background: black;
  width: 400px;
  height: 100%;
  position: absolute;
}




.sidebar {
  font-size: 6rem;
  color: black;
}
.active
{
  font-size: 10rem;
  color: white;
}
.profilePic {
  width: 100%;      // takes full width of .nav-bar (60px)
  height: auto;     // keep aspect ratio
  padding: 8px 0;
  border-radius: 20%; // optional: makes it circular
  size: 4rem;
  max-width: 100%;
}
